### Concept 1 â€” Numbers, Booleans, and Expressions

In [1]:
print("Hello World")

Hello World

In [9]:
age = 27
name = "Chenchu"
height = 5.10
is_student = False
is_employee = True

print(f"""Name :{name},
          height : {height},
          Age : {age},
          is_student :{is_student},
          is_Employee :{is_Employee}""")

Name :Chenchu,
          height : 5.1,
          Age : 27,
          is_student :False,
          is_Employee :True

In [10]:
numbers = [10, 20, 30, 2, 3, 4, 5] # List
coordinates = (10, 20) # tuple
person = {"name": "Bob", "Age":30} # Dict
unique_nums = {1, 2, 4, 6} # Set


print(numbers)
print(coordinates)
print(person)
print(unique_nums)

[10, 20, 30, 2, 3, 4, 5]
(10, 20)
{'name': 'Bob', 'Age': 30}
{1, 2, 4, 6}

In [12]:
str_num = "42"
int_num = int(str_num)
print(int_num)
print(str_num)
print(type(int_num))

42
42
<class 'int'>

### Control Flow

In [14]:
# Conditions
score = 85
if score >= 90:
    print("A Grade")
elif score >= 80:
    print("B Grade")
else:
    print("C Grade")

B Grade

In [15]:
# Loops 
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print(f"I like {fruit}, and I eat them every week")

I like apple, and I eat them every week
I like banana, and I eat them every week
I like orange, and I eat them every week

In [17]:
#while loop 
count = 0
while count <= 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9
10

In [18]:
# List comprehension
squares = [x**2 for x in range(10)]
print(squares)
even_squares = [x**2 for x in range(10) if x%2 ==0]
print(even_squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [19]:
numbers = [1, 2,  3, 4, 5, 6]
squares = [num**2 for num in numbers]
print(numbers)

[1, 2, 3, 4, 5, 6]

In [20]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits_with_a = [fruit for fruit in fruits if "a" in fruit]
print(fruits_with_a)

['apple', 'banana', 'mango']

In [22]:
numbers = [1, 2, 3, 4, 5, 6]
even_odd = ["Even" if num % 2 == 0 else "Odd" for num in numbers]
print(even_odd)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [26]:
numbers = range(100)
filtered = [n for n in numbers if n % 2 == 0 and n % 5 == 0]
print(filtered)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]