### Numbers, Booleans, and Expressions

In [1]:
print("Hello World")

Hello World

In [9]:
age = 27
name = "Chenchu"
height = 5.10
is_student = False
is_employee = True

print(f"""Name :{name},
          height : {height},
          Age : {age},
          is_student :{is_student},
          is_Employee :{is_Employee}""")

Name :Chenchu,
          height : 5.1,
          Age : 27,
          is_student :False,
          is_Employee :True

In [10]:
numbers = [10, 20, 30, 2, 3, 4, 5] # List
coordinates = (10, 20) # tuple
person = {"name": "Bob", "Age":30} # Dict
unique_nums = {1, 2, 4, 6} # Set


print(numbers)
print(coordinates)
print(person)
print(unique_nums)

[10, 20, 30, 2, 3, 4, 5]
(10, 20)
{'name': 'Bob', 'Age': 30}
{1, 2, 4, 6}

In [12]:
str_num = "42"
int_num = int(str_num)
print(int_num)
print(str_num)
print(type(int_num))

42
42
<class 'int'>

### Control Flow

In [14]:
# Conditions
score = 85
if score >= 90:
    print("A Grade")
elif score >= 80:
    print("B Grade")
else:
    print("C Grade")

B Grade

In [15]:
# Loops 
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print(f"I like {fruit}, and I eat them every week")

I like apple, and I eat them every week
I like banana, and I eat them every week
I like orange, and I eat them every week

In [17]:
#while loop 
count = 0
while count <= 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9
10

In [18]:
# List comprehension
squares = [x**2 for x in range(10)]
print(squares)
even_squares = [x**2 for x in range(10) if x%2 ==0]
print(even_squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [19]:
numbers = [1, 2,  3, 4, 5, 6]
squares = [num**2 for num in numbers]
print(numbers)

[1, 2, 3, 4, 5, 6]

In [20]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits_with_a = [fruit for fruit in fruits if "a" in fruit]
print(fruits_with_a)

['apple', 'banana', 'mango']

In [22]:
numbers = [1, 2, 3, 4, 5, 6]
even_odd = ["Even" if num % 2 == 0 else "Odd" for num in numbers]
print(even_odd)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [26]:
numbers = range(100)
filtered = [n for n in numbers if n % 2 == 0 and n % 5 == 0]
print(filtered)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

### Machine Learning (ML) Examples

In [27]:
data = [1, 15, 18, 102, 19, 3, 4]
filtered = [x for x in data if x < 20]

print(filtered)

[1, 15, 18, 19, 3, 4]

In [28]:
# Extracting Feature Values
dataset = [{'age': 22}, {'age': 31}, {'age': 18}, {'age': 28}, {'age': 8}, {'age': 12}]
ages = [row['age'] for row in dataset]
print(ages)

[22, 31, 18, 28, 8, 12]

In [29]:
# Scaling Features
scores = [100, 120, 95]
scaled = [score/20 for score in scores]
print(scaled)

[5.0, 6.0, 4.75]

In [30]:
# Label Encoding 
labels = ['cat', 'dog', 'cat', 'mouse']
encoded = [1 if label == 'cat' else 0 for label in labels]
print(encoded)

[1, 0, 1, 0]

In [31]:
#Flattening Features
features = [[1, 2], [3, 4], [5, 6]]
flat = [item for sublist in features for item in sublist]
print(flat)

[1, 2, 3, 4, 5, 6]

In [33]:
# One Hot Encoding 
categories = ['A', 'B', 'A']
unique = list(set(categories))
encoded = [[1 if cat == item else 0 for item in unique] for cat in categories]
print(encoded)

[[0, 1], [1, 0], [0, 1]]