##### 1.Let us say your expense for every month are listed below,

   `January - 2200
    February - 2350
    March - 2600
    April - 2130
    May - 2190`
    
##### Create a list to store these monthly expenses and using that find out

 1. In Feb, how many dollars you spent extra compare to January?
 2. Find out your total expense in first quarter (first three months) of the year.
 3. Find out if you spent exactly 2000 dollars in any month
 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
 5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [2]:
expenses = {
    "January" : 2200,
    "February" : 2350,
    "March" : 2600,
    "April":2130,
    "May" : 2190
}

In [18]:
# 1. In Feb, how many dollars you spent extra compare to January?

print(expenses["February"]- expenses["January"])

150

In [19]:
# 2. Find out your total expense in first quarter (first three months) of the year

print(expenses["January"] + expenses["February"]+ expenses["March"])

7150

In [20]:
# 3. Find out if you spent exactly 2000 dollars in any month

did_spend_2000 = 2000 in expenses.values()
print("Did I spend exactly $2000 in any month?", did_spend_2000)

Did I spend exactly $2000 in any month? False

In [21]:
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

expenses['June'] = 1980

In [22]:
print(expenses)

{'January': 2200, 'February': 2350, 'March': 2600, 'April': 2830, 'May': 2190, 'June': 1980}

In [23]:
# 5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

expenses.update({
    'April':2830
})

In [24]:
print(expenses)

{'January': 2200, 'February': 2350, 'March': 2600, 'April': 2830, 'May': 2190, 'June': 1980}

##### 2. You have a list of your favourite marvel super heros.

`heros=['spider man','thor','hulk','iron man','captain america']`

In [26]:
heros = ['spidar man', 'thor', 'hulk', 'iron man', 'captain america']

In [28]:
# 1. Length of the list

print(len(heros))

5

In [29]:
#2. Add 'black panther' at the end of this list

heros.append('Black Panther')
print(heros)

['spidar man', 'thor', 'hulk', 'iron man', 'captain america', 'Black Panther']

In [30]:
# 3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'

heros.remove('Black Panther')
heros.insert(3,'black panther')
print(heros)

['spidar man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [31]:
#4. Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.

heros[1:3]=['doctor strange']
print(heros)

['spidar man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [32]:
# 5. Sort the list in alphabetical order
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spidar man']

##### 3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [33]:
max = int(input('Enter the max number : '))

odd_numbers = []

for i in range(1, max):
    if i%2 == 1:
      odd_numbers.append(i)

print("Odd_numbers :", odd_numbers)

Enter the max number :  24

Odd_numbers : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]