##### 1. Let us say your expense for every month are listed below,
##### 	  1. January -  2200
  3. March - 2600
  4. April - 2130
    5. May - 2190
##### Create a list to store these monthly expenses and using that find out,
##### 1. In Feb, how many dollars you spent extra compare to January?
##### 2. Find out your total expense in first quarter (first three months) of the year.
##### 3. Find out if you spent exactly 2000 dollars in any month
##### 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
##### 5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [2]:
expenses = {
    "January" : 2200,
    "February" : 2350,
    "March" : 2600,
    "April":2130,
    "May" : 2190
}

In [4]:
print(expenses["January"])

2200

In [6]:
print(expenses["January"] + expenses["February"]+ expenses["March"])

7150

In [9]:
for key, value in expenses.items():
    if expenses[value] != 2000:

        else:
            print("NO")

SyntaxError: invalid syntax (2718294879.py, line 4)

In [11]:
for key, value in expenses.items():
    print(f"{key}:{value}")

January:2200
February:2350
March:2600
April:2130
May:2190

In [12]:
expenses['June'] = 1980

In [13]:
print(expenses)

{'January': 2200, 'February': 2350, 'March': 2600, 'April': 2130, 'May': 2190, 'June': 1980}

In [14]:
expenses.update({
    'April':2830
})

In [15]:
print(expenses)

{'January': 2200, 'February': 2350, 'March': 2600, 'April': 2830, 'May': 2190, 'June': 1980}